{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1>Create new Category</h1>

    {{ include('category/_form.html.twig') }}

<br>

    <a href="{{ path('app_category_index') }}"><i class="fas fa-2x fa-hand-point-left"></i></a>
{% endblock %}
