{% extends 'base.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}


    <h3>Créer un Produit</h3>



    {{ include('partenaire/_form.html.twig') }}

    <a href="{{ path('app_partenaire') }}"><i class="fas fa-2x fa-hand-point-left"></i></a>



    
{% endblock %}
